* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Nova";
  src: url(../letras/FontsFree-Net-Proxima-Nova-Light.otf);
  font-style: normal;
}
.style-body {
  background: rgb(214, 181, 209);
  background: linear-gradient(
    176deg,
    rgba(214, 181, 209, 1) 42%,
    rgba(255, 254, 254, 1) 77%
  );
}
a {
  text-decoration: none;
  font-family: "Nova";
  line-height: 1.4;
  color: black;
  font-size: 12px;
  list-style: none;
}
.main__header ul li {
  list-style: none;
}
.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.main__header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.main__header__nav {
  display: flex;
  flex-wrap: wrap;
}
.main__principal {
  display: flex;

  color: aliceblue;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.main__principal__wrapper {
  display: flex;
  flex-direction: column;
}
.main__principal__container {
  padding: 0 15px;
}
.main__principal__img img {
  width: 90%;
}
.our__work {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
}
.our__work__services img {
  width: 90%;
}

@media (min-width: 768px) {
  .main__header {
    flex-direction: row;
    justify-content: space-between;
  }
  .main__header__nav a {
    padding-left: 10px;
  }
  .main__principal__img img {
    width: 100%;
    height: 100%;
  }
  .our__work {
    display: grid;
    grid-template-areas:
      "title serv01 serv02 serv03"
      "title serv04 serv05 serv06";
    border-radius: 10px;
  }
  .serv01 {
    grid-area: serv01;
  }
  .serv02 {
    grid-area: serv02;
  }
  .serv03 {
    grid-area: serv03;
  }
  .serv04 {
    grid-area: serv04;
  }
  .serv05 {
    grid-area: serv05;
  }
  .serv06 {
    grid-area: serv06;
  }
  .our__work__wrapper {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .main__header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    justify-content: end;
    z-index: 1000;
  }
  .main__header__nav {
    display: grid;
    height: 80px;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    justify-self: end;
  }
  .main__header ul li {
    width: 10%;
    list-style: none;
  }
  .main__header nav {
    width: 90%;
  }
  .main__header__nav a {
    display: flex;
    padding: 15px;
  }
  .style-body {
    background: rgb(214, 181, 209);
    background: linear-gradient(
      176deg,
      rgba(214, 181, 209, 1) 42%,
      rgba(255, 254, 254, 1) 92%
    );
  }
  .main__principal {
    display: flex;
    color: aliceblue;
    justify-content: start;
    height: 100vh;
    align-items: center;
    padding-top: 70px;
    flex-direction: column;
  }
  .carousel {
    align-items: center;
  }

  .our__work {
    display: grid;
    grid-template-areas:
      "title serv01 serv02 serv03"
      "title serv04 serv05 serv06";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    padding: 70px 40px;
    gap: 40px;
  }
  .our__work__wrapper {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .serv01 {
    grid-area: serv01;
  }
  .serv02 {
    grid-area: serv02;
  }
  .serv03 {
    grid-area: serv03;
  }
  .serv04 {
    grid-area: serv04;
  }
  .serv05 {
    grid-area: serv05;
  }
  .serv06 {
    grid-area: serv06;
  }
  .img1 {
      width:200px;
      height:200px;
      border-radius:150px;
      border:10px solid rgb(223, 215, 215);
  
  }

  .our__work__services {
    width: 200px;
    height: 200px;
  }

  .footer__contents {
    padding-left: 41rem;
    padding-top: 1rem;
  }
  .footer__contents__red-1 {
    margin-right: 25px;
  }
  .main__servicios {
    color: white;
  }

  .prop__form {
    padding-top: 10rem;
  }
  /**inicio Style Servicios**/
  .conteiner-servicios {
    padding-top: 85px;
  }
  .card-title {
    text-align: center;
  }
  /** Style Preguntas Frecuentes**/
  .card-text {
    text-align: center;
  }
  .main__preguntas {
    padding-top: 95px;
    justify-content: space-around;
  }
  .card {
    background: rgb(214, 181, 209);
  background: linear-gradient(
    176deg,
    rgba(214, 181, 209, 1) 42%,
    rgba(255, 254, 254, 1) 77%
  );
  }
  .formulario{
    display: flex;
    padding-top: 80px;
  justify-content: center;}
}
