* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Nova";
  src: url(../letras/FontsFree-Net-Proxima-Nova-Light.otf);
  font-style: normal;
}
.style-body {
  @extend .style-body;
}
a {
  text-decoration: none;
  font-family: "Nova";
  line-height: 1.4;
  color: black;
  font-size: 12px;
  list-style: none;
}
.main__header ul li {
  list-style: none;
}
.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.main__header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
/*Estilos Main Principal*/
.main__principal {
  display: flex;
  color: aliceblue;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}
.main__princial__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main__princial__wrapper-paragraph {
  text-align: center;
  font-size: 20px;
}
.main__princial__wrapper-title {
  text-align: center;
}

.main__principal__conteiner {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.main__principal__img img {
  width: 90%;
}
/*Estilos de nuestros trbajos*/
.our__work {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.our__work__wrapper-title {
  @extend .title;
  text-align: start;
}
.our__work__services img {
  width: 90%;
}
.our__work__wrapper-servicios {
  border: 1px solid #2e518b;
  padding: 5px 5px;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
  width: 150px;
  @include neo(52,25);
}
/*Estilos de footer*/
.footer__contents {
  width: 90vw;
  display: grid;
  grid-template-areas: "logo seguinos ubicacion";
  grid-template-columns: 0.5fr;
  grid-template-rows: 0.3fr;
}

.footer__contents__img {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.redes01 {
  grid-area: redes01;
}
.text-redes {
  grid-area: text-redes;
  text-align: center;}
.footer__contents__seguinos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__contents__ubicacion{
  grid-area: ubicacion;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;}



@media (min-width: 768px) {
  .main__header {
    flex-direction: row;
    justify-content: space-between;
  }
  .main__header__nav a {
    padding-left: 10px;
  }
  /*Estilos de main principal*/
  .main__principal__img img {
    width: 100%;
    height: 100%;
  }
  /*Estilos de nuestros trabajos*/
  .our__work {
    display: grid;
    grid-template-areas:
      "title serv01 serv02 serv03"
      "title serv04 serv05 serv06";
    border-radius: 10px;
  }
  .serv01 {
    grid-area: serv01;
  }
  .serv02 {
    grid-area: serv02;
  }
  .serv03 {
    grid-area: serv03;
  }
  .serv04 {
    grid-area: serv04;
  }
  .serv05 {
    grid-area: serv05;
  }
  .serv06 {
    grid-area: serv06;
  }
  .our__work__wrapper {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .main__header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1000;
  }
  /*Estilos Main principal*/
  .main__principal {
    color: aliceblue;
    padding-top: 70px;
  }
  .main__principal__container {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .main__principal__carous {
    display: flex;
    flex-direction: column;
    width: 375px;
  }
  .main__princial__paragraph {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
/*Estilos de nuestros trabajos*/
  .our__work {
    display: grid;
    grid-template-areas:
      "title serv01 serv02 serv03"
      "title serv04 serv05 serv06";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    padding: 70px 40px;
    gap: 40px;
  }
  .our__work__wrapper {
    grid-area: "title";
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .serv01 {
    grid-area: serv01;
  }
  .serv02 {
    grid-area: serv02;
  }
  .serv03 {
    grid-area: serv03;
  }
  .serv04 {
    grid-area: serv04;
  }
  .serv05 {
    grid-area: serv05;
  }
  .serv06 {
    grid-area: serv06;
  }

}
