/** Style Preguntas Frecuentes**/
* {
  margin: 0;
  padding: 0;
}
.card {
  @extend .shadowed;
}
.card-text {
  text-align: center;
}
.main__preguntas {
  padding-top: 90px;
  width:97vw;
  
}
.main__preguntas-primero{ padding-top: 50px;
justify-content: space-around;  }